<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webcam Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        Webcam Classifier
    </header>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('model_page') }}">Model</a>
        <a href="{{ url_for('webcam') }}">Webcam</a>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        &copy; 2024 Webcam Classifier. All rights reserved Natanael Duarte.
    </footer>
</body>
</html>
